<script type = "text/javascript">
$(document).ready(function () {
    $("#question_type").change(function () {
        this.form.submit();
    });
});
</script>
<h2>Create a New Question</h2>
<%= render 'form' %>

